{% extends 'base.html' %} {% load static %} 
{% block title %}My Courses{% endblock %}

{% block content %}  



<main>
  <div>
    <h2 id="page-title">
      Incskill Dashboard
    </h2>
  </div>
  <div class="text-center" id="text-center">
    {% csrf_token %}
    {{ form.as_p}}
    
    <a class="btn btn-primary" href="{% url 'course_one' %}" id="courseBtn">
      <p id="courseTxt">Introduction to Software Engineering</p>
      <br>
      <br>
      <span class="progress progress-bar bg-success" style="height:24px;width:{{ user.profile.progress }}%" id="progressBar">{{ user.profile.progress }}%</span>
    </a>
  </div>
</main>

<style>
  #page-title{
    margin-left:12.5%;
    margin-top: 10%;
    color:white;
    top:14%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight:500;
    position: relative;
    }

    #progressbar {
      float: right;
      height: 20%;
    }

    #courseBtn {    
      padding-bottom: 2%;
      width: 70%;
      height: 15%;
      margin-top: 1%;
      margin-left: -5%;
    }


    #courseTxt{
      margin-top:1%;
      text-align: left;
    }
</style>
{% endblock %}