{% extends 'base.html' %}

{% block title %}Introduction to Software Engineering{% endblock %}

{% block content %}

  <h2 class="text-start" style="padding-left: 11%; max-width: 30%; padding-top: 2%; padding-bottom: 2%;">
    Introduction to Software Engineering
  </h2>


  <div class="text-center">

    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#unit1" role="button" aria-expanded="false" aria-controls="unit1" id="unitBtn">
        Unit 1
      </a>
    </p>

    <div class="collapse" id="unit1">
      <div class="card card-text border-1">
        <a href="#" class="card-link" id="courseBtn">
          <p></p>
        </a>
        <a href="{% url 'resourceone' %}" class="card-link" id="courseBtn">
          <p>Week 1: Introduction to Computer Programming Using Python</p>
        </a>
        <a href="{% url 'resourcetwo' %}" class="card-link" id="courseBtn">
          <p>Week 2: Introduction to Computer Programming Using Python</p>
        </a>
        <a href="{% url 'resourcethree' %}" class="card-link" id="courseBtn">
          <p>Week 3: Input and Output, Data Types and Loops</p>
        </a>
        <a href="{% url 'resourcefour' %}" class="card-link" id="courseBtn">
          <p>Week 4: Loops</p>
        </a>
        <a href="{% url 'resourcefive' %}" class="card-link" id="courseBtn">
          <p>Week 5: More Data Structures</p>
        </a>
        <a href="{% url 'resourcesix' %}" class="card-link" id="courseBtn">
          <p>Week 6: Functions</p>
        </a>
        <a href="{% url 'resourceseven' %}" class="card-link" id="courseBtn">
          <p>Week 7: Flask 1</p>
        </a>
        <a href="{% url 'resourceeight' %}" class="card-link" id="courseBtn">
          <p>Week 8: Flask 2</p>
        </a>
        <a href="{% url 'resourcenine' %}" class="card-link" id="courseBtn">
          <p>Week 9: Flask Templates</p>
        </a>
        <a href="{% url 'resourceten' %}" class="card-link" id="courseBtn">
          <p>Week 10</p>
        </a>
        <a href="{% url 'resourceeleven' %}" class="card-link" id="courseBtn">
          <p>Week 11</p>
        </a>
        <a href="{% url 'resourcetwelve' %}" class="card-link" id="courseBtn">
          <p>Week 12: Flask Extensions</p>
        </a>
        <a href="#" class="card-link" id="courseBtn">
          <p>Quiz</p>
        </a>
        <a href="#" class="card-link" id="courseBtn">
          <p>Coding Excercise</p>
        </a>
      </div>
    </div>
  </div>
  
  <style>
    #unit1 {
      margin-bottom: 7%;
    }
    
    #unitBtn {
        margin-top: 200px;
        width: 70%;
        text-align: start;
    }

    /* Changed padding from 18% to 4% */
    #courseBtn {
        text-align: start;
        padding-left: 5%;
        float: left;
    }

    .progress {
        display: inline;
        float: right;
    }
    #easyNav{
        padding-left: 11%;
        padding-top: 1%;
    }

    /*Added style here since style.css has a colored background for the login and sign up pages*/
    body{
        position: cover;
        width: 100%;
        height: 100%;
        left: -4px;
        top: 0px;
        overflow: hidden;
        background:transparent;
    }
    
    body{
    overflow-y: scroll;
    }

  </style>
{% endblock %}