{% extends 'base.html' %} {% load static %}

{% block title %}Login{% endblock %}


{% block content %}
<aside>
  <div id="logo-mission">
    <h1 id="logo">
    <img src="{% static 'media/incskill.png'%}" alt="Incskill Logo" id="img"></h1>
    <div>
      <h2 id="mission">
        Unlocking high-growth career opportunities irrespective of past experience or needs
      </h2>
    </div>
  </div>
</aside>


<!--pasword and email input boxes-->
<main>
  <div id="login-details">

    <form method="post">

      {% csrf_token %}
      {{ form.as_p}}
      <div>
          <h1 id="title">Login</h1>

          <label for="username" id="label">Username:</label>
          <br>
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
          <br>
          <label for="password" id="label">Password:</label>
          <br>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        
                <!--submit button-->
        <span class="visually-hidden">Check if your information is correct</span>
        <button type="submit" class="btn btn-primary" name="submit" id="submit-btn">Submit</button>
        <button type="submit" class="btn btn-primary" name="signup" id="signup-btn">Sign Up</button>
      </div>
    </form>
  </div>
</main>


<style>
  
#img{
  width:150%;
}

#logo{
    margin-left: 15%;
    margin-top: 10%;
    color: white;
    width:20%;
    height:20%;

  }

  #mission{
    width:30%;
    margin-top:-3%;
    margin-left:17%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:2vw;
    font-weight: 400;
    position: static;
  }

  #submit-btn{
    background: transparent;
    border-color: white;
    border-width: 2px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.15vw;
    border-radius: 75px;
    margin-top: 7%;
    width: 100%;
  }
  #signup-btn{
    background: #8844d6;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.15vw;
    border-radius: 75px;
    margin-top: 7%; 
    width: 100%;
  }

  #login-details{
    margin-left: -60%;
    width: 175%;
    height:50%;
    margin-top:-20%;
    position: relative;
  }

  #title{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:2.5vw;
  }

  #label{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.15vw;

  }

  .form-control{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.15vw;
  }

</style>

{% endblock %}