{% extends 'base.html' %} {% load static %}

{% block title %}Login{% endblock %}


{% block content %}

  <h4>
    <img src="{% static 'media/incskill.png'%}" alt="Incskill Logo" width="500" height="auto">
  </h4>
  <h5 id="mission" style="margin-left: -1%;">
    Our Mission
  </h5>
    <h6 style="margin-left: 2%;">
      Unlocking high-growth career opportunities irrespective of past experience or needs
    </h6>
 



<!--pasword and email input boxes-->
<main>
  <div class="Title" id="loginInput">

    <form method="post">

      {% csrf_token %}
      {{ form.as_p}}
      <div class="container">
        <h1>Login</h1>

        <label for="username">Username:</label>
        <br>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
              <!--submit button-->
      <span class="visually-hidden">Check if your information is correct</span>
      <br>
      <button type="submit" class="btn btn-primary" name="submit" id="submitbutton" >Submit</button>
      <br>
      <br>
      <button type="submit" class="btn btn-primary" name="signup" id="signupbutton">Sign Up</button>

    </form>
  </div>
</main>

{% endblock %}