{% extends 'base.html' %} {% load static %} 

{% block title %}Login{% endblock %}

{% block content %}  
    <h4>
      <img src="{% static 'media/incskill.png'%}" alt="Incskill Logo" width="500" height="auto">
    </h4>
    <h3>
      Our Mission
      </h3>
      <h6>
        Unlocking high-growth career opportunities irrespective of past experience or needs
      </h6>
    
    
    
    <!--pasword and email input boxes--> 
    <div class="Title" id="loginInput">
      
      <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <div class="container">
          <h1>Login</h1>
          
          <label for="username">Username:</label>
          
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
          
          <label for="password">Password:</label>
          
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
         
        </div>
        <br>
        <!--link added for testing purposes-->
        <!--commented out until we're able to implement it
        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me</label>
        </div>-->
        <!--submit button--> 
        <span class="visually-hidden">Check if your information is correct</span>
        
        <button type="submit" class="btn btn-primary" name="submit">Submit</button>
        <br>
        <br>
        <button type ="submit" class="btn btn-primary" name="signup">Sign Up</button>
      
      </form>
    </div>
{% endblock %}