{% load 'static' %}

<head>
    <!--this is an alternate nav bar with the styling css classes already assigne, with color, was unable to style previous nav bar--> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Incskill</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  </head>

  <header>
  <div class="topnav">
    <a class="navbar-brand" href="#"><img src="{% static 'media/incskill.png' %}" alt="alternatetext" width="100" height="auto"></a>
    <a class="navbar-brand" href="homepage.html">Home</a>
      
       
    
  
  
    <a class="navbar-brand" href="#">Progress</a>
    
    <a class="navbar-brand" href="{% url 'courses' %}">My Courses</a>
    
    <a class="navbar-brand" href="courseOne.html">Introduction to Software Engineering</a>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      
        
    </header>  
          
  
      </div>
      </div>