{% extends 'base.html' %} 

{% block title %}Profile{% endblock %}

{% block content %}
<div>  
  <h1 style=" color:#F1F1F1; text-align: center;">Hi, {{user.username}}</h1>
  <h1 style="color:#F1F1F1; text-align: center; ;">Your progress: {{ user.profile.progress }}</h1>
  <br>
  <form method="post">
    {% csrf_token %}
    <button type ="submit" class="btn btn-primary" name="logout" style="margin-left: -163%;">Log Out</button>
  </form>
</div>
{% endblock %}
<style>
  h1{
      text-align: center;
      margin-top: -27%;
      margin-left: 5%;
      color: white;
      
    }
    div {
 
  
}
  </style>