{% extends 'base.html' %}

{% block title %}Introduction to Software Engineering{% endblock %}

{% block content %}


<body onload="NextQuestion(0)">
  <main>
      <!-- creating a modal for when quiz ends -->
      <div class="modal-container" id="score-modal">

          <div class="modal-content-container">

              <h1>Congratulations! Quiz Completed.</h1>

              <div class="grade-details">
                  <p>Attempts : 10</p>
                  <p>Wrong Answers : <span id="wrong-answers"></span></p>
                  <p>Right Answers : <span id="right-answers"></span></p>
                  <p>Grade : <span id="grade-percentage"></span>%</p>
                  <p ><span id="remarks"></span></p>
              </div>

              <div class="modal-button-container">
                  <button onclick="closeScoreModal()">Continue</button>
              </div>

          </div>
      </div>
<!-- end of modal of quiz details-->

      <div class="game-quiz-container">

          <div class="game-details-container">
            <p> Question : <span id="question-number"></span></p>
            <p>Score : <span id="player-score"></span> / 10</p>
          </div>

          <div class="game-question-container">
            <h1 id="display-question"></h1>
          </div>

          <div class="game-options-container">

             <div class="modal-container" id="option-modal">

                  <div class="modal-content-container">
                       <h1>Please Pick An Option</h1>

                       <div class="modal-button-container">
                          <button onclick="closeOptionModal()">Continue</button>
                      </div>

                  </div>

             </div>

            
              <span>
                  <input type="radio" id="option-one" name="option" class="radio" value="optionA" />
                  <label for="option-one" class="option" id="option-one-label"></label>
              </span>


              <span>
                  <input type="radio" id="option-two" name="option" class="radio" value="optionB" />
                  <label for="option-two" class="option" id="option-two-label"></label>
              </span>


              <span>
                  <input type="radio" id="option-three" name="option" class="radio" value="optionC" />
                  <label for="option-three" class="option" id="option-three-label"></label>
              </span>


              <span>
                  <input type="radio" id="option-four" name="option" class="radio" value="optionD" />
                  <label for="option-four" class="option" id="option-four-label"></label>
              </span>


          </div>

          <div class="next-button-container">
              <button onclick="handleNextQuestion()">Next Question</button>
          </div>

      </div>
  </main>
  <script src="index.js"></script>
</body>




















<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight:500;
    margin-bottom: 2%;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    /* whole container */
.game-quiz-container{
    margin-top: -3%;
    margin-bottom:2%;
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

/* score_/10 and question_/10 */
.game-details-container{
    width: 90%;
    font-size: 1.45rem;
    color: white;
    margin-bottom: -7%;
    text-align: right;
    margin-right: 10%;
}

/* question */
.game-question-container{
    width: 80%;
    display: flex;
    align-items: left;
    justify-content: left;
    /* border: 2px solid darkgray;
    background-color: lightgray; */
    color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-bottom:-10%;
}

.game-question-container h1{
    font-size: 2rem;
    text-align: center;
    padding: 3px;
    margin-bottom: 2%;
}

/* options */
.game-options-container{
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 100%;
    height: 3.5rem;
    border: 2px solid darkgray;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2%;
}
.button:hover {

  transform: translateY(-7px);
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 500;
    color: rgb(22, 22, 22);
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: rgb(135, 189, 233);
}

.next-button-container{
    margin-top: 4%;
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: center;
    padding:1%;
}
.next-button-container button{
    width: 30%;
    height: 2.5rem;
    border-radius: 30px;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 3px solid white;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    padding-bottom:3%;
    margin-left:80%;
    margin-right:0%;
}


.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    color:#ffffff;
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.modal-content-container{
    height: 20rem;
    width: 25rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    padding:1%;
}

.modal-content-container h1{
    font-size: 1.3rem;
    height: 3rem;
    color: white;
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
    padding-top:1%;
    padding-bottom:1%;
    padding-left: 12%;
    padding-right: 12%;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

</style>





























<script>
    const questions = [
    {
        question: "How many days are in a week?",
        optionA: "10 days",
        optionB: "14 days",
        optionC: "5 days",
        optionD: "7 days",
        correctOption: "optionD"
    },

    {
        question: "How many hours are in a day?",
        optionA: "30 hours",
        optionB: "38 hours",
        optionC: "48 hours",
        optionD: "24 hours",
        correctOption: "optionD"
    },

    {
        question: "Which of these numbers is an odd number?",
        optionA: "Ten",
        optionB: "Twelve",
        optionC: "Eight",
        optionD: "Eleven",
        correctOption: "optionD"
    },

    {
        question: "How many sides does an hexagon have?",
        optionA: "Six",
        optionB: "Seven",
        optionC: "Four",
        optionD: "Five",
        correctOption: "optionA"
    },

    {
        question: "What is 9-3÷(1/3)+1?",
        optionA: "7/3",
        optionB: "1",
        optionC: "5",
        optionD: "19",
        correctOption: "optionB"
    },

    {
        question: "How many sides does an pentagon have?",
        optionA: "Six",
        optionB: "Seven",
        optionC: "Four",
        optionD: "Five",
        correctOption: "optionD"
    },

    {
        question: "How many sides does an octagon have?",
        optionA: "8",
        optionB: "6",
        optionC: "3",
        optionD: "7",
        correctOption: "optionA"
    },

    {
        question: "What is 8÷0?",
        optionA: "8",
        optionB: "0",
        optionC: "1",
        optionD: "undefined",
        correctOption: "optionD"
    },

    {
        question: "How many days are in a year?",
        optionA: "365",
        optionB: "356",
        optionC: "7",
        optionD: "345",
        correctOption: "optionA"
    },

    {
        question: "How many days are in January?",
        optionA: "29",
        optionB: "30",
        optionC: "31",
        optionD: "7",
        correctOption: "optionC"
    },
]


let shuffledQuestions = [] //empty array to hold shuffled selected questions out of all available questions

function handleQuestions() { 
    //function to shuffle and push 10 questions to shuffledQuestions array
//app would be dealing with 10questions per session
    while (shuffledQuestions.length <= 9) {
        const random = questions[Math.floor(Math.random() * questions.length)]
        if (!shuffledQuestions.includes(random)) {
            shuffledQuestions.push(random)
        }
    }
}


let questionNumber = 1 //holds the current question number
let playerScore = 0  //holds the player score
let wrongAttempt = 0 //amount of wrong answers picked by player
let indexNumber = 0 //will be used in displaying next question

// function for displaying next question in the array to dom
//also handles displaying players and quiz information to dom
function NextQuestion(index) {
    handleQuestions()
    const currentQuestion = shuffledQuestions[index]
    document.getElementById("question-number").innerHTML = questionNumber
    document.getElementById("player-score").innerHTML = playerScore
    document.getElementById("display-question").innerHTML = currentQuestion.question;
    document.getElementById("option-one-label").innerHTML = currentQuestion.optionA;
    document.getElementById("option-two-label").innerHTML = currentQuestion.optionB;
    document.getElementById("option-three-label").innerHTML = currentQuestion.optionC;
    document.getElementById("option-four-label").innerHTML = currentQuestion.optionD;

}


function checkForAnswer() {
    const currentQuestion = shuffledQuestions[indexNumber] //gets current Question 
    const currentQuestionAnswer = currentQuestion.correctOption //gets current Question's answer
    const options = document.getElementsByName("option"); //gets all elements in dom with name of 'option' (in this the radio inputs)
    let correctOption = null

    options.forEach((option) => {
        if (option.value === currentQuestionAnswer) {
            //get's correct's radio input with correct answer
            correctOption = option.labels[0].id
        }
    })

    //checking to make sure a radio input has been checked or an option being chosen
    if (options[0].checked === false && options[1].checked === false && options[2].checked === false && options[3].checked == false) {
        document.getElementById('option-modal').style.display = "flex"
    }

    //checking if checked radio button is same as answer
    options.forEach((option) => {
        if (option.checked === true && option.value === currentQuestionAnswer) {
            document.getElementById(correctOption).style.backgroundColor = "green"
            playerScore++ //adding to player's score
            indexNumber++ //adding 1 to index so has to display next question..
            //set to delay question number till when next question loads
            setTimeout(() => {
                questionNumber++
            }, 1000)
        }

        else if (option.checked && option.value !== currentQuestionAnswer) {
            const wrongLabelId = option.labels[0].id
            document.getElementById(wrongLabelId).style.backgroundColor = "red"
            document.getElementById(correctOption).style.backgroundColor = "green"
            wrongAttempt++ //adds 1 to wrong attempts 
            indexNumber++
            //set to delay question number till when next question loads
            setTimeout(() => {
                questionNumber++
            }, 1000)
        }
    })
}



//called when the next button is called
function handleNextQuestion() {
    checkForAnswer() //check if player picked right or wrong option
    unCheckRadioButtons()
    //delays next question displaying for a second just for some effects so questions don't rush in on player
    setTimeout(() => {
        if (indexNumber <= 9) {
//displays next question as long as index number isn't greater than 9, remember index number starts from 0, so index 9 is question 10
            NextQuestion(indexNumber)
        }
        else {
            handleEndGame()//ends game if index number greater than 9 meaning we're already at the 10th question
        }
        resetOptionBackground()
    }, 1000);
}

//sets options background back to null after display the right/wrong colors
function resetOptionBackground() {
    const options = document.getElementsByName("option");
    options.forEach((option) => {
        document.getElementById(option.labels[0].id).style.backgroundColor = ""
    })
}

// unchecking all radio buttons for next question(can be done with map or foreach loop also)
function unCheckRadioButtons() {
    const options = document.getElementsByName("option");
    for (let i = 0; i < options.length; i++) {
        options[i].checked = false;
    }
}

// function for when all questions being answered
function handleEndGame() {
    let remark = null
    let remarkColor = null

    // condition check for player remark and remark color
    if (playerScore <= 3) {
        remark = "Bad Grades, Keep Practicing."
        remarkColor = "red"
    }
    else if (playerScore >= 4 && playerScore < 7) {
        remark = "Average Grades, You can do better."
        remarkColor = "orange"
    }
    else if (playerScore >= 7) {
        remark = "Excellent, Keep the good work going."
        remarkColor = "green"
    }
    const playerGrade = (playerScore / 10) * 100

    //data to display to score board
    document.getElementById('remarks').innerHTML = remark
    document.getElementById('remarks').style.color = remarkColor
    document.getElementById('grade-percentage').innerHTML = playerGrade
    document.getElementById('wrong-answers').innerHTML = wrongAttempt
    document.getElementById('right-answers').innerHTML = playerScore
    document.getElementById('score-modal').style.display = "flex"

}

//closes score modal, resets game and reshuffles questions
function closeScoreModal() {
    questionNumber = 1
    playerScore = 0
    wrongAttempt = 0
    indexNumber = 0
    shuffledQuestions = []
    NextQuestion(indexNumber)
    document.getElementById('score-modal').style.display = "none"
}

//function to close warning modal
function closeOptionModal() {
    document.getElementById('option-modal').style.display = "none"
}
</script>
{% endblock %}