<header>
{% extends 'base.html' %}

{% block title %}Introduction to Software Engineering{% endblock %}

{% block content %}

<div class="sec" id="sec">
  <h1 id="sec-h1">Week 12: Flask Extensions</h1>
</div>
<br>
</header>
<br>
<div class="sec" id="sec">
    <h3 id="sec-h3">Objectives</h3>
    <p>
        In this resource, we will learn about two Flask extensions-one that helps
        you send emails and the other that helps you store information to a
        database.
    </p>
</div>
<br>


<div class="sec" id="sec">
    <h3 id="sec-h3">Extension</h3>
    <p>
        Flask is often referred to as a micro-framework, because a core
        functionality includes WSGI and routing based on Werkzeug and template
        engine based on Jinja2. In addition, Flask framework has support for cookie
        and sessions as well as web helpers like JSON, static files etc. Obviously,
        this is not enough for the development of a full-fledged web application.
        This is where the Flask extensions come in picture. Flask extensions give
        extensibility to Flask framework.
    </p>
    <p>
        There are a large number of Flask extensions available. A Flask extension
        is a Python module, which adds specific type of support to the Flask
        application. Flask Extension Registry is a directory of extensions
        available.
    </p>
</div>


<div class="sec" id="sec">
    <h3 id="sec-h3">PostgreSQL</h3>
    <p>
        It is now time to integrate our application with a database. PostgreSQL is
        a popular database engine, and we will be using it in our tutorial.
    </p>
    <p>
        Step1. Install PostgreSQL from their website
        https://www.enterprisedb.com/downloads/postgres-postgresql-downloads. You
        will likely need sighted assistance to complete the installation process.
    </p>
    <p>
        Step2. Once installed, it will add SQL/PSQL shell to your programs. Open
        it. This is the same environment as command prompt or Anaconda prompt. Use
        the default values for all arguments it asks you for (such as server,
        database, port, username etc.). When prompted to enter the password, enter
        the password you selected during the installation process. Once complete,
        use the following command to create a database students.
    </p>
    <p>
        CREATE DATABASE students;
    </p>
    <p>
        Remember to end your SQL statements with ; within PSQL.
    </p>
    <p>
        To confirm that students has been added as a database, use the command.
    </p>
    <p>
        \list
    </p>
    <p>
        This should display "students" as a database.
    </p>
</div>

<div class="sec" id="sec">
    <h3 id="sec-h3">SQLAlchemy</h3>
    <p>
        Using raw SQL in Flask web applications to perform CRUD (create, read,
        update and delete) operations on database can be tedious. Instead,
        SQLAlchemy, a Python toolkit is a powerful OR Mapper that gives application
        developers the full power and flexibility of SQL. Flask-SQLAlchemy is the
        Flask extension that adds support for SQLAlchemy to your Flask application.
    </p>
</div>

<div class="sec" id="sec">
    <h3 id="sec-h3">What is ORM (Object Relation Mapping)?</h3>
    <p>
        Most programming language platforms are object oriented. Data in RDBMS
        servers on the other hand is stored as tables. Object relation mapping is a
        technique of mapping object parameters to the underlying RDBMS table
        structure. An ORM API provides methods to perform CRUD operations without
        having to write raw SQL statements.
    </p>
    <p>
        In this section, we are going to study the ORM techniques of
        Flask-SQLAlchemy and build a small web application.
    </p>
    <p>
        Step 1. Install Flask-SQLAlchemy extension.
    </p>
    <p>
        pip install flask-sqlalchemy
    </p>
    <p>
        pip install psycopg2
    </p>
    <p>
        Step 2. You need to import SQLAlchemy class from this module.
    </p>
    <p>
        from flask_sqlalchemy import SQLAlchemy
    </p>
    <p>
        Step 3. Now create a Flask application object and set URI for the database
        to be used.
    </p>
    <p>
        app = Flask(__name__)
    </p>
    <p>
        app.config['SQLALCHEMY_DATABASE_URI'] =
        'postgresql://postgres:&lt;password&gt;@localhost/students'
    </p>
    <p>
        app.config['SECRET_KEY'] = "some random key"
    </p>
    <p>
        # Where &lt;password&gt; must be replaced with your postgres password
    </p>
    <p>
        Step 4. Then create an object of SQLAlchemy class with application object
        as the parameter. This object contains helper functions for ORM operations.
        It also provides a parent Model class using which user defined models are
        declared. In the snippet below, a students model is created.
    </p>
    <p>
        db = SQLAlchemy(app)
    </p>
    <p>
        class students(db.Model):
    </p>
    <p>
            id = db.Column('student_id', db.Integer, primary_key = True)
    </p>
    <p>
            name = db.Column(db.String(100)) # the number after string is the
        maximum length of the string
    </p>
    <p>
            city = db.Column(db.String(50)) 
    </p>
    <p>
            addr = db.Column(db.String(200))
    </p>
    <p>
            pin = db.Column(db.String(10))
    </p>
    <p>
            def __init__(self, name, city, addr,pin):
    </p>
    <p>
                self.name = name
    </p>
    <p>
                self.city = city
    </p>
    <p>
                self.addr = addr
    </p>
    <p>
                self.pin = pin
    </p>
    <p>
        Step 5. To create / use database mentioned in URI, run the create_all()
        method.
    </p>
    <p>
        Db.create_all()
    </p>
    <p>
        The Session object of SQLAlchemy manages all persistence operations of ORM
        object.
    </p>
    <p>
        The following session methods perform CRUD operations.
    </p>
    <ul>
        <li>
            db.session.add(model object): inserts a record into mapped table
        </li>
        <li>
            db.session.delete(model object): deletes record from table
        </li>
        <li>
            model.query.all(): retrieves all records from table (corresponding to
            SELECT query).
        </li>
    </ul>
    <p>
        You can apply a filter to the retrieved record set by using the filter
        attribute. For instance, in order to retrieve records with city = 'Delhi'
        in students table, use following statement:
    </p>
    <p>
        Students.query.filter_by(city = 'Delhi').all()
    </p>
    <p>
        With this much of background, now we shall provide view functions for our
        application to add a student data.
    </p>
    <p>
        The entry point of the application is show_all() function bound to '/'' URL.
        The Record set of students table is sent as parameter to the HTML template.
        The Server side code in the template renders the records in HTML table
        form.
    </p>
    <p>
        @app.route('/')
    </p>
    <p>
        def show_all():
    </p>
    <p>
            return render_template('show_all.html', students =
        students.query.all())
    </p>
    <p>
        The HTML script of the template ('show_all.html') is like this:
    </p>
    <p>
        &lt;!DOCTYPE html&gt;
    </p>
    <p>
        &lt;html lang = "en"&gt;
    </p>
    <p>
        &lt;head&gt;
    </p>
    <p>
        &lt;/head&gt;
    </p>
    <p>
        &lt;body&gt;
    </p>
    <p>
        &lt;h1&gt;Flask SQLAlchemy example&lt;/h1&gt;
    </p>
    <p>
        &lt;hr/&gt;
    </p>
    <p>
        &#123;%- for message in get_flashed_messages() %&#125;
    </p>
    <p>
        &#123;&#123; message &#125;&#125;
    </p>
    <p>
        &#123;%- endfor %&#125;
    </p>
    <p>
        &lt;h3&gt;Students (&lt;a href = "&#123;&#123; url_for('new') &#125;&#125;"&gt;Add
        Student&lt;/a&gt;)&lt;/h3&gt;
    </p>
    <p>
        &lt;table&gt;
    </p>
    <p>
        &lt;tr&gt;
    </p>
    <p>
        &lt;th&gt;Name&lt;/th&gt;
    </p>
    <p>
        &lt;th&gt;City&lt;/th&gt;
    </p>
    <p>
        &lt;th&gt;Address&lt;/th&gt;
    </p>
    <p>
        &lt;th&gt;Pin&lt;/th&gt;
    </p>
    <p>
        &lt;/tr&gt;
    </p>
    <p>
        &#123;% for student in students %&#125;
    </p>
    <p>
        &lt;tr&gt;
    </p>
    <p>
        &lt;td&gt;&#123;&#123; student.name &#125;&#125;&lt;/td&gt;
    </p>
    <p>
        &lt;td&gt;&#123;&#123; student.city &#125;&#125;&lt;/td&gt;
    </p>
    <p>
        &lt;td&gt;&#123;&#123; student.addr &#125;&#125;&lt;/td&gt;
    </p>
    <p>
        &lt;td&gt;&#123;&#123; student.pin &#125;&#125;&lt;/td&gt;
    </p>
    <p>
        &lt;/tr&gt;
    </p>
    <p>
        &#123;% endfor %&#125;
    </p>
    <p>
        &lt;/table&gt;
    </p>
    <p>
        &lt;/body&gt;
    </p>
    <p>
        &lt;/html&gt;
    </p>
    <p>
        The above page contains a hyperlink to '/new' URL mapping new() function.
        When clicked, it opens a Student Information form. The data is posted to
        the same URL in POST method.
    </p>
    <p>
        new.html
    </p>
    <p>
        &lt;!DOCTYPE html&gt;
    </p>
    <p>
        &lt;html&gt;
    </p>
    <p>
        &lt;body&gt;
    </p>
    <p>
        &lt;h3&gt;Students - Flask SQLAlchemy example&lt;/h3&gt;
    </p>
    <p>
        &lt;hr/&gt;
    </p>
    <p>
        &#123;%- for category, message in get_flashed_messages(with_categories = true)
        %&#125;
    </p>
    <p>
        &lt;div&gt;
    </p>
    <p>
        &#123;&#123; message &#125;&#125;
    </p>
    <p>
        &lt;/div&gt;
    </p>
    <p>
        &#123;%- endfor %&#125;
    </p>
    <p>
        &lt;form action = "&#123;&#123; request.path &#125;&#125;" method = "post"&gt;
    </p>
    <p>
        &lt;label for = "name"&gt;Name&lt;/label&gt;&lt;br&gt;
    </p>
    <p>
        &lt;input type = "text" name = "name" placeholder = "Name" /&gt;&lt;br&gt;
    </p>
    <p>
        &lt;label for = "city"&gt;City&lt;/label&gt;&lt;br&gt;
    </p>
    <p>
        &lt;input type = "text" name = "city" placeholder = "city" /&gt;&lt;br&gt;
    </p>
    <p>
        &lt;label for = "addr"&gt;addr&lt;/label&gt;&lt;br&gt;
    </p>
    <p>
        &lt;textarea name = "addr" placeholder =
        "addr"&gt;&lt;/textarea&gt;&lt;br&gt;
    </p>
    <p>
        &lt;label for = "PIN"&gt;City&lt;/label&gt;&lt;br&gt;
    </p>
    <p>
        &lt;input type = "text" name = "pin" placeholder = "pin" /&gt;&lt;br&gt;
    </p>
    <p>
        &lt;input type = "submit" value = "Submit" /&gt;
    </p>
    <p>
        &lt;/form&gt;
    </p>
    <p>
        &lt;/body&gt;
    </p>
    <p>
        &lt;/html&gt;
    </p>
    <p>
        When the http method is detected as POST, the form data is added in the
        students table and the application returns to homepage showing the added
        data.
    </p>
    <p>
        @app.route('/new', methods = ['GET', 'POST'])
    </p>
    <p>
        def new():
    </p>
    <p>
            if request.method == 'POST':
    </p>
    <p>
                if not request.form['name'] or not request.form['city'] or not
        request.form['addr']:
    </p>
    <p>
                    flash('Please enter all the fields', 'error')
    </p>
    <p>
                else:
    </p>
    <p>
                    student = students(request.form['name'], request.form['city'],
        request.form['addr'], request.form['pin'])
    </p>
    <p>
                    db.session.add(student)
    </p>
    <p>
                    db.session.commit()
    </p>
    <p>
                    flash('Record was successfully added')
    </p>
    <p>
                    return redirect(url_for('show_all'))
    </p>
    <p>
            return render_template('new.html')
    </p>
    <p>
        Given below is the complete code of application (app.py).
    </p>
    <p>
        from flask import Flask, request, flash, url_for, redirect, render_template
    </p>
    <p>
        from flask_sqlalchemy import SQLAlchemy
    </p>
    <p>
        app = Flask(__name__)
    </p>
    <p>
        app.config['SQLALCHEMY_DATABASE_URI'] =
        'postgresql://postgres:&lt;password&gt;@localhost/students'
    </p>
    <p>
        app.config['SECRET_KEY'] = "some random key"
    </p>
    <p>
        # Where &lt;password&gt; must be replaced with your postgres password
    </p>
    <p>
        db = SQLAlchemy(app)
    </p>
    <p>
        class students(db.Model):
    </p>
    <p>
            id = db.Column('student_id', db.Integer, primary_key = True)
    </p>
    <p>
            name = db.Column(db.String(100))
    </p>
    <p>
            city = db.Column(db.String(50))
    </p>
    <p>
            addr = db.Column(db.String(200))
    </p>
    <p>
            pin = db.Column(db.String(10))
    </p>
    <p>
            def __init__(self, name, city, addr,pin):
    </p>
    <p>
                self.name = name
    </p>
    <p>
                self.city = city
    </p>
    <p>
                self.addr = addr
    </p>
    <p>
                self.pin = pin
    </p>
    <p>
        @app.route('/')
    </p>
    <p>
        def show_all():
    </p>
    <p>
            return render_template('show_all.html', students = students.query.all()
        )
    </p>
    <p>
        @app.route('/new', methods = ['GET', 'POST'])
    </p>
    <p>
        def new():
    </p>
    <p>
            if request.method == 'POST':
    </p>
    <p>
                if not request.form['name'] or not request.form['city'] or not
        request.form['addr']:
    </p>
    <p>
                    flash('Please enter all the fields', 'error')
    </p>
    <p>
                else:
    </p>
    <p>
                    student = students(request.form['name'], request.form['city'],
        request.form['addr'], request.form['pin'])
    </p>
    <p>
                    db.session.add(student)
    </p>
    <p>
                    db.session.commit()
    </p>
    <p>
                    flash('Record was successfully added')
    </p>
    <p>
                    return redirect(url_for('show_all'))
    </p>
    <p>
            return render_template('new.html')
    </p>
    <p>
        if __name__ == '__main__':
    </p>
    <p>
            db.create_all()
    </p>
    <p>
            app.run()
    </p>
    <p>
        Run the script from Anaconda prompt and enter http://localhost:5000/ in the
        browser and explore. It should show the data and allow you to add data.
    </p>
</div>

<div class="sec" id="sec">
    <h3 id="sec-h3">Exercise</h3>
    <p>
        Put all your newly learnt skills now, and develop an app that helps a user
        upload a textbook and add descriptions to any images in the book. Images
        are identified by a combination of textbook name, page number and image
        number. The user should be able to see a list of all textbooks, and by
        clicking a textbook, see all images. The user should also be able to update
        any description.
    </p>
</div>

{% if user.profile.resource12 %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p}}
      <button type="submit" name="submit" id="submit">Mark as Undone</button>
  </form>
{% else %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" name="submit" id="submit" style="border-radius:50px; text-align: right;">Mark as Done</button>
  </form>
{% endif %}
<div>
    <a href="{% url 'quizone' %}" role="button" id="sec-btn">
        <p>Start Quiz</p>
    </a>
</div>
<br>


<style>
    #sec-btn {
        margin:auto;
        width:30%;
        border-radius:50px;
        background:#233854;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 75px;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        margin-bottom:1%;
    }
    form{
  position: absolute;
  right: 35%;
  top: 474%;
  color: #f2f2f2;
  width: 30%;
  box-sizing: border-box;
  border: radius 50px;
  
}
#submit{
  position: relative;
  text-align: center;
  justify-content: center;
}
  header{
    padding: 5px;
    color: white;
    background: radial-gradient(39.66% 139.43% at 8.13% 94.24%, rgba(0, 135, 193, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(47.57% 69.38% at 63.57% -5.91%, rgba(60, 180, 188, 0.2) 0%, rgba(51, 154, 160, 0) 90.1%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(32.76% 54% at 83.93% 93.12%, rgba(249, 185, 246, 0.2) 0%, rgba(249, 185, 246, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(200.18% 422.3% at 2.4% 4.39%, #090D2A 0%, rgba(12, 15, 42, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(132.32% 231.51% at 92.86% 14.21%, #080D32 0%, rgba(8, 13, 50, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  
#sec{
    
font-family: Arial, Helvetica, sans-serif;
margin-left: 3%;
margin-right: 3%;
margin-bottom: 3%;    
font-size: medium;
font-weight: 500;
}

#sec-h1{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
margin-top: 7%;
max-width: 55%;
margin-bottom: 5%;
}

#sec-h3{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight:500;
margin-bottom: 2%; 
}
body{
overflow-y: scroll;
background: white;
}


</style>
  
{% endblock %}