{% extends 'base.html' %}

{% block title %}Introduction to Software Engineering{% endblock %}

{% block content %}

<div class="sec" id="sec">
  <h1 id="sec-h1">Week 2: Introduction to Computer <br> Programming Using Python</h1>
  <p>
    Welcome back! Hope you breezed through last week's setup. This week, we
    will be covering syntax, and delving deeper into some programming concepts
    such as variables and constants, operators and conditionals.
  </p>
  <p>
    Let's start with operators. We are going to start with mathematical
    operators. To understand this effectively, we will use the interactive mode
    of Python. This mode is different from the mode we discussed last week
    where you rote your code in a Notepad file, saved it and then executed it.
    Here, we will open up the terminal window, and then key in "python". This
    will open up the Python interpreter. this is exactly the same thing as last
    time except that you can directly type in your code and you will see the
    output immediately instead of having to write it in Notepad first and then
    running it. Note that we usually just use the interactive mode for small
    exercises like these. The general practice is to use the script mode as we
    used last week. Finally, know that you can quit from this interactive mode
    at any time by using "exit()".
  </p>
  <p>
    Anyways, let's get the interactive mode fired up, and we are ready to have
    the computer do some hat for us.
  </p>
  <p>
    Key in the following expressions one by one, and see the result.
  </p>
  <p>
    4+4
  </p>
  <p>
    4-4
  </p>
  <p>
    4*4
  </p>
  <p>
    4/4
  </p>
  <p>
    4%4
  </p>
  <p>
    4**4
  </p>
  <p>
    What do you observe? As expected, we see that many of the mathematical
    operators that we know of (addition, subtraction, multiplication, division,
    modulo and exponent) are built into Python and can be used for various
    computations. Python also conforms to the BODMAS rule that governs how
    mathematical expressions with multiple operators should be processed. For
    instance, see the difference between 4+4*5 and (4+4)*5. The first computes
    to 24, while the second to 40. This confirms that many of the mathematical
    constructs as we know them are valid while coding as well. Don't worry too
    much if you don't remember these fundamentals from your math class; we
    won't really be using them all that often.
  </p>
  <p>
    Another interesting case is the square root operator. Before continuing,
    think about how you could compute the square root of a number using
    whatever you have already learnt?
  </p>
  <p>
    One way to do that is to raise a number to the exponent of 0.5. So,
    something like (4**0.5) would compute the positive square root of 4 which
    is 2. Another way to do that is to use something known as Python libraries.
    Python libraries provide functionality to do various specific things that
    are not already inbuilt into Python. So in this case, for instance, we will
    import the math library which provides a lot of math functions expanding
    the math operations at our disposal.
  </p>
  <p>
    import math
  </p>
  <p>
    math.sqrt(4)
  </p>
  <p>
    This will also give you 2. You can also try some of other math library
    functions such as math.cos, math.log etc.
  </p>
  <p>
    math.log(16, 2) # Gives you 4
  </p>
  <p>
    math.cos(0) #gives you 1
  </p>
  <p>
    Note that import statement to import a particular module/library needs to
    be specified only once. However, remember that in the interactive mode,
    once you close the mode, all imports are reset and so you will need to
    import libraries again.
  </p>
</div>

<div class="sec" id="sec">
  <h3 id="sec-h3">Variables and Constants</h3>
  </p>
  <p>
    Variables are basically placeholders that can remember certain values and
    can be used later in the program. To understand this, consider an example.
    I want to solve a problem that has two steps.
  </p>
  <p>
    Step 1. Compute 4+4
  </p>
  <p>
    Step2. Output from step 1×2
  </p>
  <p>
    There are two ways to do this problem. One way is that I intelligently
    transform this problem into (4+4)×2. Here, as our math skills tell us,
    first 4+4 will be computed, and then multiplied by 2. But, let's look at
    the second way of doing the exact same problem. Here we will take a rather
    non-intelligent way of doing it. We want to code one step at a time, and
    then we somehow want the program to reference the result from step1 in
    step2. Here is where variables come in. Read the code below carefully.
  </p>
  <p>
    a = 4+4
  </p>
  <p>
    a*2
  </p>
  <p>
    If you try running this, you notice that it's exactly the same result. What
    is happening here is that the first statement consists of a variable "a".
    The "=" sign is an assignment operator which assigns a value to this
    variable and this value is mentioned to the right side of this "="
    operator. This value is then remembered by the program and you can
    reference this later as happens in the second line of the code below.
  </p>
  <p>
    Consider another example.
  </p>
  <p>
    a = 2
  </p>
  <p>
    b = 5
  </p>
  <p>
    c = a + b
  </p>
  <p>
    print(c*5)
  </p>
  <p>
    Here, the print statement which prints a value to the console (remember the
    last week's resource?) gets executed and it needs to print c×5. So the
    program looks at what is c assigned to. c is assigned to a + b. But now
    what is a assigned to? 2. What about b? 5. And so, the value of c is 2+5
    or 7. So, it prints 7 × 5 = 35.
  </p>
  <p>
    One thing to remember with variables is that these values can be reset,
    which is why they are known as variables. Consider the updated example.
  </p>
  <p>
    a = 2
  </p>
  <p>
    b = 5
  </p>
  <p>
    c = a + b
  </p>
  <p>
    print(c*5)
  </p>
  <p>
    c = 3
  </p>
  <p>
    print(c*5)
  </p>
  <p>
    While the first print will give you the result as we discussed, what do you
    think the second one will give? 15. This is because by assigning c to
    another value, we effectively reset the old value.
  </p>
  <p>
    Constants different from variables exactly in this aspect. Constants are
    meant to be constants; they shouldn't be modified later in the scope of the
    program or program block. Other than that, there is no difference between
    variables and constants.
  </p>

</div>

<div class="sec" id="sec">
  <h3 id="sec-h3">Conditionals</h3>
  <p>
    Let's now discuss conditional statements. One of the overarching ideas of
    programming is that we want computers to do something based on specific
    logic. A crucial component of logic is the logical flow "if A happens, do
    X. If B happens, do Y. Else, do Z". Somehow this needs to be translated
    into computer code. This is where conditionals come in the picture.
  </p>
  <p>
    The way we work with conditionals in Python is primarily through the
    "if"...."else" construct. But before we discuss that, it's important to
    understand logical blocks. Logical blocks are essentially lines of code
    that go together. for instance, in this case, we may want five lines of
    code to be executed if A is true, otherwise five other lines of code. Now,
    these five lines of code that need to be executed constitute one block,
    while the other five lines constitute another block. The way these blocks
    are represented in Python is essentially through indentation. Now, this can
    be one of the most tricky aspects of programming for someone using a screen
    reader, since screen readers aren't necessarily going to give you
    indentation information out of the box. And so, this is one of those
    aspects that may frustrate you a little bit in the beginning, but trust me,
    with practice, this becomes pretty easy.
  </p>
  <p>
    Here is an example. Don't worry about the exact code, just understand how
    blocks are structured through indentation.
  </p>
  <p>
    if a == 5: # No spaces
  </p>
  <p>
        print("Hello") # This line is offset by four spaces which represents
    that this is the next level, i.e. the level within the "if" statement and
    hence the lines that should be executed if the if condition above is true
  </p>
  <p>
        print("Hello2") # This line is also offset by four spaces, i.e. at the
    same level as the previous line which means that this is a part of the same
    logical group and should also be executed if the condition above is true
  </p>
  <p>
    else: # this line has no proceeding spaces and hence is at the root level,
    i.e. the same level as the "if" condition
  </p>
  <p>
        print("Hello") # This line is offset by four spaces which represents
    that this is the next level, i.e. the level within the "else" statement and
    hence the lines that should be executed if the if condition above is not
    true
  </p>
  <p>
        print("Hello2") # This line is also offset by four spaces, i.e. at the
    same level as the previous line which means that this is a part of the same
    logical group and should also be executed if the condition above is false
  </p>
  <p>
    You can also use tabs for indentation since that can be easier to work
    with, although eventually, industry prefers spaces with four spaces
    representing each level of the block.
  </p>
  <p>
    Before we discuss the "if" conditions specifically, we need to introduce
    some logical and conditional operators. These operators help us establish
    conditions and logic.
  </p>
  <p>
    Conditional operators: &lt; (checks if the left side is less than the right
    side), &gt; (checks if the left side is greater than the right side), ==
    (checks if the left and right are the same), &lt;= (LHS less than or equal
    to RHS), &gt;= (LHS is greater than or equal to RHS), &lt;&gt; (LHS not
    equal to RHS)
  </p>
  <p>
    For practice, try out a few of the following expressions in the interactive
    mode.
  </p>
  <p>
    4 == 4
  </p>
  <p>
    4 &lt; 5
  </p>
  <p>
    5 &gt; 1
  </p>
  <p>
    5 &gt; 6
  </p>
  <p>
    For each of them, you get a "True" or "False" output representing if the
    condition you specified is true or false. "True" and "False" are keywords
    in Python that represents the truth of a statement.
  </p>
  <p>
    Logical operators help combine evaluation of multiple expressions, thereby
    helping us to evaluate more complex expressions. For instance, what if we
    want to execute something if a is less than 5 and b is greater than 4. This
    is where logical operators come in.
  </p>
  <p>
    There are three primary logical operators.
  </p>
  <p>
    "And" operator: evaluates to true only when LHS and RHS both are true
  </p>
  <p>
    "Or" operator: evaluates to true when either LHS or RHS is true
  </p>
  <p>
    "Not" operator: Evaluates to true when the expression under evaluation is
    not true, i.e. it reverses the truth of the statement
  </p>
  <p>
    Here are a few examples.
  </p>
  <p>
    4==4 and 5==5 #True
  </p>
  <p>
    4&lt;5 and 5&lt;6 #True
  </p>
  <p>
    4==4 and 5==8 #False
  </p>
  <p>
    4==4 or 5==8 #True
  </p>
  <p>
    not(4 == 4) #False
  </p>
  <p>
    Given this knowledge, let's now understand the "if...else" statement. The
    "if" statement helps us specify conditional flows (i.e. do A if X is true,
    B if Y is true or Z otherwise). Here is how it works in code:
  </p>
  <p>
    if condition1:
  </p>
  <p>
        Do this # Notice the four spaces representing an indentation level;
    this is very important
  </p>
  <p>
    elif condition2:
  </p>
  <p>
        Do this instead
  </p>
  <p>
    elif condition3:
  </p>
  <p>
        Do this
  </p>
  <p>
    else:
  </p>
  <p>
        Do this
  </p>
  <p>
    Here is an example.
  </p>
  <p>
    if a == 5:
  </p>
  <p>
        print("hello world")
  </p>
  <p>
    elif a == 7:
  </p>
  <p>
        print("hello world 7")
  </p>
  <p>
    elif a == 10:
  </p>
  <p>
        print("hello world 10")
  </p>
  <p>
    else:
  </p>
  <p>
        print("Hello world 14")
  </p>
  <p>
    This program will print "hello world" if the value of a is 5, "hello
    world7" if the value of a is 7, "hello world10" if the value of a is 10 or
    "hello world14" otherwise. There can be as many conditions as we want as
    part of this construct, and the conditions or the executing statements can
    be as complex as we want.
  </p>
  <p>
    This brings us to the end of this tutorial. But, before we finish, one
    quick note about comments. You might have noticed that "#" has been used at
    various instances throughout this resource in the code. "#" is used to
    denote an inline comment, i.e. anything after the "#" sign is meant to be a
    comment for the reader and is ignored by the interpreter when executing the
    program. Similarly, if we have long comments spanning multiple lines, then
    we use """. Here is an example.
  </p>
  <p>
    """
  </p>  
  <p>
    This is an example of a multiline comment. This comment
  </p>
  <p>
    is very large and will not be executed and will be completely ignored. This
    is
  </p>
  <p>
    only for the benefit of the reader to help them understand what the code
    below this comment does.
  </p>
  <p>
    """
  </p>
</div>

<div class="sec" id="sec">
  <h3 id="sec-3">Week 2: Practice Questions</h3>

  <p>
    1. Create a grading system where you work with the marks secured by a
    student and print the grade based on the grading scheme below.
  </p>
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td valign="top">
                <p>
                    Grade
                </p>
            </td>
            <td valign="top">
                <p>
                    Marks
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    F
                </p>
            </td>
            <td valign="top">
                <p>
                    &lt;33
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    E
                </p>
            </td>
            <td valign="top">
                <p>
                    33-40
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    D
                </p>
            </td>
            <td valign="top">
                <p>
                    40-55
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    C
                </p>
            </td>
            <td valign="top">
                <p>
                    55-75
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    B
                </p>
            </td>
            <td valign="top">
                <p>
                    75-85
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    A
                </p>
            </td>
            <td valign="top">
                <p>
                    &gt;85
                </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    Any value greater than 100 should result in a message of "invalid marks"
    being printed.
  </p>
  <p>
    You should do this exercise by assigning the following values to a variable
    called "marks", and then printing the output one by one.
  </p>
  <p>
    Values for the variable marks: 20, 25, 35, 50, 55, 56, 75, 100, 115
  </p>
  <p>
    You print a message using the print function and enclosing what you want to
    print within parentheses. So, for instance, if you want to print the
    message Your grade is B, you should use the following statement.
  </p>
  <p>
    print("Your grade is B")
  </p>
  <p>
    2. Create a variable and assign it the following values of temperature in
    °F. You need to then write a program that prints "hot" or "cold" depending
    on whether the temperature is more than 25°C or not.
  </p>
  <p>
    Values for temperature you should try out: 25, 32, 55, 70, 83
  </p>
  <p>
    Note that the values are in °F. Your program needs to handle the
    temperature conversion to °C (the formula is F=9/5C+32).
  </p>
  <p>
    3. Print the positive cube root of each of the following numbers.
  </p>
  <p>
    24, 35, 77, 90, 105
  </p>
  <p>
    4. Following are the lengths and widths of a few rectangles. For all
    rectangles where area of the rectangle&gt;10, you should print "success".
  </p>
  <p>
    (2,5), (3,4), (1,1), (1,5), (7,15)
  </p>
  <p>
    Add appropriate comments to your program to make it readable.
  </p>
  <p>
    5. All of the following conditions should hold true for someone to become
    eligible for a school club.
  </p>
  <ul>
    <li>
      Age&gt;18
    </li>
    <li>
      GPA in 10<sup>th</sup> grade&gt;3 or GPA in 12<sup>th</sup>
      grade&gt;2.5
    </li>
  </ul>
  <p>
    The following summarizes a few student details. Using these details, print
    whether a particular student is eligible or not.
  </p>
  <p>
    Student A
  </p>
  <p>
    Age: 19, GPA in 10<sup>th</sup> grade: 2.7, GPA in 12<sup>th grade</sup>:
    4.0
  </p>
  <p>
    Student B
  </p>
  <p>
    Age: 17, GPA in 10<sup>th</sup> grade: 3.5, GPA in 12<sup>th</sup> grade:
    3.85
  </p>
  <p>
    Student C
  </p>
  <p>
    Age: 19, GPA in 10<sup>th</sup> grade: 3.1, GPA in 12<sup>th</sup> grade:
    3.4
  </p>
  <p>
    6. Check if the following measures (in inches) are greater than 3 Ft. by
    assigning these values to variables and then using conditionals for each of
    these.
  </p>
  <p>
    7, 12, 15, 20, 24, 38
  </p>
  <p>
    Where they aren't, add 10 inches and print the equivalent value in Ft.
  </p>
  <p>
    Note here, when you use the print statement, don't add the quotes since we
    only use quotes for text, not for numbers. We will discuss this in detail
    in the next few resources. Also note that 1 Ft.=12 In.
  </p>
  <p>
    7. Write a program to check if a number is divisible by 5. Try it out with
    the following values.
  </p>
  <p>
    5, 9, 15, 24, 32, 35, 42
  </p>
  <p>
    Where the number is divisible by 5, print 0, otherwise print the original
    umber. Add appropriate comments as needed.
  </p>
  <p>
    8. Write a program to check if a number's square root is even. Try it out
    with the following values.
  </p>
  <p>
    4, 9, 25, 49, 64
  </p>
  <p>
    Add comments.
  </p>
  <p>
    9. Check if the length of a string assigned to a variable str is divisible
    by both 3 and 4. You need to use the len() function to calculate the
    length. Here is an example.
  </p>
  <p>
    a = "sample string"
  </p>
  <p>
    lengthOfVariableA = len(a) #This calculates the variable of the argument
    specified to the len() function
  </p>
  <p>
    Don't worry about understanding len() function right now. Just use it for
    the sake of this question.
  </p>
  <p>
    10. Given the following measures of the side of a square, check if the area
    of a square is a multiple of 5 and 10, 15 or neither.
  </p>
  <p>
    4, 6, 8, 15, 18
  </p>
  <p>
    11. The salary in an organization is computed as follows.
  </p>
  <p>
    total salary = (base salary + bonus) - 10% of (base salary + bonus)
  </p>
  <p>
    For the following base salary and bonus, calculate the total salaries and
    check if the total salary is less than 10,000.
  </p>
  <table cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <p>
                    Base salary
                </p>
            </td>
            <td valign="top">
                <p>
                    Bonus
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    5000
                </p>
            </td>
            <td valign="top">
                <p>
                    4000
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    6500
                </p>
            </td>
            <td valign="top">
                <p>
                    4200
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    6800
                </p>
            </td>
            <td valign="top">
                <p>
                    7200
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    5900
                </p>
            </td>
            <td valign="top">
                <p>
                    4200
                </p>
            </td>
        </tr>
    </tbody>
  </table>
  <p>
    In this question, use a separate variable to compute the total salary and
    use only this variable in the conditional statement.
  </p>
  <p>
    12. Check if the following years are leap years.
  </p>
  <p>
    2000, 2003, 2021, 2024, 2027
  </p>
</div>

<div>
  <button type="submit" id="sec-btn">Mark as Done</button>
</div>

<div>
  <a href="{% url 'resourcethree' %}" role="button" id="sec-btn">
      <p>Start Week 3</p>
  </a>
</div>


<style>
  #sec-btn {
      margin:auto;
      width:30%;
      border-radius:50px;
      background:#233854;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 75px;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1em;
      margin-bottom:1%;
  }

  #sec{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;    
  font-size: medium;
  font-weight: 500;
  }
  
  #sec-h1{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 7%;
  max-width: 55%;
  margin-bottom: 5%;
  }
  
  #sec-h3{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight:500;
  margin-bottom: 2%; 
  }
  
  body{
  overflow-y: scroll;
  }
  </style>
  
  {% endblock %}