{% extends 'base.html' %} {% load static %}

{% block title %}Login{% endblock %}


{% block content %}

<!--Side Text-->
<aside>
  <div id="logo-mission">
    <h1 id="logo">
    <img src="{% static 'media/incskill.png'%}" alt="Incskill Logo" id="img"></h1>
  
      <div id="container">
        <h3 id="mission" >
        <div id="text"></div><div id="cursor"> </div>
      </h3>
      </div>
    
    
  
</aside>


<!--pasword and email input boxes-->
<main>
  <div id="login-details">

    <form method="post">

      {% csrf_token %}
      {{ form.as_p}}
      <div style="margin-top: -19%; position:relative; left: -47%;">
          <h1 id="title">Login</h1>

          <label for="username" id="label">Username:</label>
          <br aria-hidden="true">
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
          <br aria-hidden="true">
          <label for="password" id="label">Password:</label>
          <br aria-hidden="true">
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        
                <!--submit button-->
        <button type="submit" class="btn btn-primary" name="submit" id="submit-btn">Login</button>
        <button type="submit" class="btn btn-primary" name="signup" id="signup-btn">Sign Up</button>
      </div>
    </form>
  </div>
</main>


<style>
  
#img{
  width:130%;
}
#container {
	text-align: center;
}

#text {
	display: inline-block;
	
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	
	width: 3px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	35% { 
		background-color: #8844d6; 
	}
}

#logo{
    margin-left: 15%;
    margin-top: 10%;
    color: white;
    width:20%;
    height:20%;

  }

  #mission{
    width: 30%;
    margin-top: 1%;
    margin-left:15%; 
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: 400;
    position: static;
  }

  #submit-btn{
    background: transparent;
    border-color: white;
    border-width: 2px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.15vw;
    border-radius: 75px;
    margin-top: 7%;
    
    width: 175%;
  }
  #signup-btn{
    background: #8844d6;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.15vw;
    border-radius: 75px;
    margin-top: 7%; 
    
    width: 175%;
  }

  #login-details{
   margin-left: 60%;
    width: 175%;
    height:50%;
    margin-top: -60%;
    
  }

  #title{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:2.5vw;
  }

  #label{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.15vw;

  }

  .form-control{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.15vw;
    width: 175%;
  }
  

</style>
<script>
  // List of sentences
var _CONTENT = [ 
	"Unlocking high-growth careers", 
	"Achieving opportunities", 
	"Irrespective of past experience or needs", 
	
];

// Current sentence being processed
let _Part = 0;

// Character number of the current sentence being processed 
let _Part_Index = 0;

// Holds the handle returned from setInterval
let _Interval_Val;

// Element that holds the text
let _Element = document.querySelector("#text");

// Cursor element 
let _Cursor = document.querySelector("#cursor");

// Implements typing effect
function Type() { 
	// Get substring with 1 characater added
	let text =  _CONTENT[_Part].substring(0, _Part_Index + 1);
	_Element.innerHTML = text;
	_Part_Index++;

	// If full sentence has been displayed then start to delete the sentence after some time
	if(text === _CONTENT[_Part]) {
		// Hide the cursor
		_Cursor.style.display = 'none';

		clearInterval(_Interval_Val);
		setTimeout(function() {
			_Interval_Val = setInterval(Delete, 50);
		}, 1000);
	}
}

// Implements deleting effect
function Delete() {
	// Get substring with 1 characater deleted
	let text =  _CONTENT[_Part].substring(0, _Part_Index - 1);
	_Element.innerHTML = text;
	_Part_Index--;

	// If sentence has been deleted then start to display the next sentence
	if(text === '') {
		clearInterval(_Interval_Val);

		// If current sentence was last then display the first one, else move to the next
		if(_Part == (_CONTENT.length - 1))
    _Part = 0;
		else
    _Part++;
		
		_Part_Index = 0;

		// Start to display the next sentence after some time
		setTimeout(function() {
			_Cursor.style.display = 'inline-block';
			_Interval_Val = setInterval(Type, 50);
		}, 100);
	}
}

// Start the typing effect on load
_Interval_Val = setInterval(Type, 100);
</script>

{% endblock %}