{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Incskill website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="topnav">
      <a class="navbar-brand" href="#">Logo Here</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link active" href="#">Courses</a>
        <a class="nav-link active" href="#">Progress</a>
        <a class="nav-link active" href="#">Username</a>
      </div>

      {% block content %}
      {% endblock %}
    </div>
  </body>
</html> 